.App {
  /* text-align: center; */

}
#home {
    font-size: 16px;
    color: #a8d9e8;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
}
#profile {
    font-size: 16px;
    color: #a8d9e8;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
}
#about {
    font-size: 16px;
    color: #a8d9e8;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
}
#settings {
    font-size: 16px;
    color: #a8d9e8;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}