.About-container {
    padding: 20px;
    background-color: #c3baba;
    height: 100vh;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);
}

.About-container h4{
    color: rgb(5, 29, 43);
    margin-top: 10px;
    font-size: 18px;
}

.About-container img{
    margin-top: 20px;
    border-radius: 10px;
    height: 30vh;
    width: 40vh;
}

.About-container p{
    color: black;
    font-size: 16px;
}

#values {
    display: flex;
    flex-direction: column;
    color: #307185;
    font-size: 20px;
    margin-top: 10px;
}

#vision {
    display: flex;
    flex-direction: column;
    color: #010505;
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
    background-color: #509fc2;
    border-radius: 8px;
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1);
}
