/* .settings-container {
    width: 300px;
    margin: 50px auto;
    padding: 25px;
    background: #d1e7e9;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: left;
    font-family: 'Helvetica Neue', sans-serif;
} */
.settings-container h3 {
    text-align: left;
    margin-bottom: 15px;
    color: #121212;
}
